*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(image/hero.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    width: 100%;
    margin: 0 auto;
}
.logo img{
    width: 190px;
    padding: 25px;
    margin-left: 60px;
    margin-top: 10px;
}
form{
    width: 100%;
    margin-left: 30%;
    margin-top: 3%;
}
.form-div{
    width: 550px;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    padding: 60px;
}
.main-div h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align:left ;
}
.main-div input{
    width: 340px;
    padding: 19px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.459);
  border: 1px solid #dddd;
}
.btn{
    padding-top: 10px;
    padding-bottom: 15px;
}
.btn button{
    width: 340px;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    border: none;
}
.a-div{
    padding-bottom: 10px;
}
 a{
    text-decoration: none;
    color: white;
}
 a:hover{
    border-bottom: 1px solid #dddd;
}
.last-div{
    padding-top: 80px;
}
.box{
    text-align: left;
    margin-left: -100px;
    font-size: 20px;
    padding-bottom: 10px;
}
label{
    margin-left: -160px;
}
.mas-div p{
 margin-left: -85px;
 padding-bottom: 8px;
 color: rgba(255, 255, 255, 0.7);
}
.mas-div p a{
    font-size: 20px;
}
.sec-div{
    padding-top: 20px;
}
.sec-div p{
    color: rgba(255, 255, 255, 0.7);
}
.sec-div a{
    color: blue;
}
footer{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.foot-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 45px;
    background-color: rgba(0, 0, 0, 0.582);;
}
.foot-div ul {
    font-size: 17px;
}
@media (max-width: 740px){
    form{
        max-width: 100%;
    }
    .form-div{
        width: 100%;
        margin-left: -110px;
    }
    .main-div h1{
        text-align: center;
        padding-bottom: 25px;
    }
    .main-div input{
        width: 260px;
    }
    .main-div button{
        width: 260px;
    }
}
